* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 8rem;
}

.new-game-btn {
    font-size: 1.5rem;
    padding: 0.7em;
    border-radius: 0.7rem;
    cursor: pointer;
    background-color: #FFEECB;
    transition: background-color 0.2s ease;
}

.new-game-btn:hover {
    background-color: #E6D6B7;
}

.start-game-modal:modal {
    padding: 3.5rem 2rem 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    position: relative;
}

.close-modal-btn {
    position: absolute;
    top: 5%;
    right: 2%;
    padding: 0.1em 0.4em;
    border-radius: 100%;
    cursor: pointer;
    background-color: #e57373;
    transition: background-color 0.2s ease;
}

.close-modal-btn:hover {
    background-color: #d65c5c;
}

.start-game-modal > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.start-game-modal > form > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.start-game-modal > form input {
    padding: 0.3rem;
}

.start-game-btn {
    margin-top: 1rem;
    padding: 0.5em 1.5em;
    border-radius: 1rem;
    background-color: #FFD4B8;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.start-game-btn:hover {
    background-color: #E6BEA5;
}

.game-display {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 3px solid black;
    visibility: hidden;
}

.game-display > * {
    border: 2px solid black;
    font-size: 10rem;
    text-align: center;
    cursor: pointer;
}

.winner-announcement {
    font-size: 3rem;
    font-weight: bold;
}